# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
/idea
.pnp.js
.idea

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/chapter01_react_setting/node_modules
/chapter02_react_component/node_module
/chapter03_react_view/node_module
/chapter03_node_server/node_module

/chapter01_react_setting/dist
/chapter02_react_component/dist
/chapter03_react_view/dist


